NET "clk"            LOC = "V10" | IOSTANDARD = "LVCMOS33";   #Bank = 2, pin name = IO_L30N_GCLK0_USERCCLK,            Sch name = GCLK
Net "clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;
NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;


NET "pin_1" LOC = "T10";
NET "pin_2" LOC = "T9";

//NET "led_1" LOC = "U16";
//NET "led_2" LOC = "V16";

//NET "clk" LOC = "E3";

NET "seg[0]" LOC = "L14";
NET "seg[1]" LOC = "N14";
NET "seg[2]" LOC = "M14";
NET "seg[3]" LOC = "U18";
NET "seg[4]" LOC = "U17";
NET "seg[5]" LOC = "T18";
NET "seg[6]" LOC = "T17";
NET "an[0]" LOC = "N16";
NET "an[1]" LOC = "N15";
NET "an[2]" LOC = "P18";
NET "an[3]" LOC = "P17";



#NET "result"         LOC = "U16" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L2P_CMPCLK,                     Sch name = LD0